# Endpoint: https://milo-back-end.herokuapp.com/login
(POST)
request:
{
    "email": "ayushjain@science.christuniversity.in",
    "password":"12345"
}

response (201):
{
    "jwt": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjE3Mzk5MDI0ZDM0MTU2N2IzNThiMTQxIiwiZW1haWwiOiJheXVzaEBnbWFpbC5jb20iLCJ1c2VybmFtZSI6ImF5dXNoMTIzIiwiaWF0IjoxNjM1ODc2OTQ4LCJleHAiOjE2Mzg0Njg5NDh9.Er05syl5yn-qfOc_CU1OoNpR53TBO8Q6aJ2jpYZYcfU",
    "name": "Ayush",
    "username": "ayush123",
    "email": "ayush@gmail.com",
    "avatar": "graduation_purple_boy",
    "exp": 1,
    "money": 8800,
    "desc": null,
    "shopItems": [
        {
            "id": "6171ae646ff08403b37b6ce1",
            "name": "ROOM PASS"
        },
        {
            "id": "6171b5996ff08403b37b6ce2",
            "name": "PRIVILEGE ACCESS"
        }
    ]
}



# Endpoint https://milo-back-end.herokuapp.com/signup
(POST)
request:
{
    "name":"Rakesh",
    "username":"kkkshjain",
    "email": "ayushjain@science.christuniversity.in",
    "avatar":"avatar1",
    "password":"12345"
}

response (201):
{
    "jwt": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjE3MjNlN2UxOTdmZTUzY2UxMTQ3NDIzIiwiZW1haWwiOiJhdXNAZ2FpbC5jb20iLCJpYXQiOjE2MzQ4NzcwNTQsImV4cCI6MTYzNzQ2OTA1NH0.BfOfiDyn4vjDjGSmgf-tAPrNVRTurKc3gMIhg_iXANQ",
    "name": "Ayush",
    "username": "sa",
    "email": "aus@gail.com",
    "avatar": "avatar1",
    "exp": 1,
    "money": 10000,
    "desc": null,
    "shopItems": []
}



# Endpoint https://milo-back-end.herokuapp.com/contact
(POST)
request:
{
    "email": "ayush@gmail.com",
    "name":"Ayush Jain",
    "message": "Dummy text"
}

response:
{
    "message": "Response submitted successfully."
}



# Endpoint https://milo-back-end.herokuapp.com/shop
(GET)
response:
[
    {
        "itemId": "6171ae646ff08403b37b6ce1",
        "name": "ROOM PASS",
        "desc": "It gives you access to any 1 room of your choice that is available on the map",
        "image": "https://res.cloudinary.com/milo-website/image/upload/v1634841935/Shop/vip-pass_seac3w.png",
        "price": 200,
        "quantity": 28
    },
    {
        "itemId": "6171b5996ff08403b37b6ce2",
        "name": "PRIVILEGE ACCESS",
        "desc": "It is highest access given to a user which allows him to go to any place in the map for 1 month.",
        "image": "https://res.cloudinary.com/milo-website/image/upload/v1634841935/Shop/offer_kqakz1.png",
        "price": 5000,
        "quantity": 10
    }
]


# Endpoint https://milo-back-end.herokuapp.com/shop
(POST) - for updating the stock for the user
request:
Authentication Header: JWT eyJhbGciOiJIUzI1NiIsInR5cC4A4
{
    "itemId": "6171ae646ff08403b37b6ce1"
}

response:
{
    "message": "Item Purchased Successfully."
}
||
{
    "error": "Invalid Shop Item id."
}
||
{
    "error": "Item already purchased"
}



# Endpoint https://milo-back-end.herokuapp.com/leaderboard
(POST)
request:
Authentication Header: JWT eyJhbGciOiJIUzI1NiIsInR5cC4A4
{
    "game": "Dinosaur"
}

response:
// data is already sorted in descending order for Dinosaur, Tic Tac Toe and Maths on the basis of score
[
    {
        "username": "ayush123",
        "score": 1300,
        "timePlayed": 10
    },
    {
        "username": "yashika",
        "score": 1100,
        "timePlayed": 25
    }
]
// data is already sorted in increasing order for Memory on the basis of score
[
    {
        "username": "ayush123",
        "score": 20,
        "timePlayed": 1
    },
    {
        "username": "ayuh123",
        "score": 30,
        "timePlayed": 4
    }
]



# Endpoint: https://milo-back-end.herokuapp.com/game
(POST)
request:
Authentication Header: JWT eyJhbGciOiJIUzI1NiIsInR5cC4A4
{
    "game": "Dinosaur", // or "Maths" or "Memory" or "Tic Tac Toe" 
    "score": 
    3000 // for "Dinosaur", "Maths", "Memory"
    // 0 or 1 for "Tic Tac Toe"
}

response:
{
    "message": "Score Updated Successfully."
}
||
{
    "error": "Invalid Game"
}
Xtxx
