# Endpoint: https://milo-back-end.herokuapp.com/login

request:
{
    "email": "ayushjain@science.christuniversity.in",
    "password":"12345"
}

response (201):
{
    "jwt": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjE2ZWQxYTM0YmFkZjEzZjdiMGVhNzFiIiwiZW1haWwiOiJheXVzaGphaW5Ac2NpZW5jZS5jaHJpc3R1bml2ZXJzaXR5LmluIiwiaWF0IjoxNjM0NjUyNjI0LCJleHAiOjE2MzQ2NTk4MjR9.mn60gPTjVUlzvQ1OAGzFx3JuAcWyK1JO9YoxahhduJA",
    "name": "Rakesh",
    "username": "kkkshjain",
    "email": "ayushjain@science.christuniversity.in",
    "avatar": "avatar1",
    "exp": 1,
    "money": 1000,
    "desc": null
}

# Endpoint https://milo-back-end.herokuapp.com/signup

request:
{
    "name":"Rakesh",
    "username":"kkkshjain",
    "email": "ayushjain@science.christuniversity.in",
    "avatar":"avatar1",
    "password":"12345"
}

response (201):
{
    "jwt": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImF5dXNoamFpbkBzY2llbmNlLmNocmlzdHVuaXZlcnNpdHkuaW4iLCJpYXQiOjE2MzQ2NTI0NDksImV4cCI6MTYzNDY1OTY0OX0.klFJHP7QipPa7puLsgRPob8EMiTwIKgQFF-z4MsAOf4",
    "name": "Rakesh",
    "username": "kkkshjain",
    "email": "ayushjain@science.christuniversity.in",
    "avatar": "avatar1",
    "exp": 1,
    "money": 1000,
    "desc": null
}


# Endpoint https://milo-back-end.herokuapp.com/shop
(GET)
response:
[
    {
        "_id": "6171ae646ff08403b37b6ce1",
        "name": "ROOM PASS",
        "desc": "It gives you access to any 1 room of your choice that is available on the map",
        "image": "https://res.cloudinary.com/milo-website/image/upload/v1634841935/Shop/vip-pass_seac3w.png",
        "price": 200,
        "quantity": 30
    },
    {
        "_id": "6171b5996ff08403b37b6ce2",
        "name": "PRIVILEGE ACCESS",
        "desc": "It is highest access given to a user which allows him to go to any place in the map for 1 month.",
        "image": "https://res.cloudinary.com/milo-website/image/upload/v1634841935/Shop/offer_kqakz1.png",
        "price": 5000,
        "quantity": 10
    }
]

(POST) - for updating the stock for the user
request:
{    "jwt":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjE3MWNhZTlhYzc0ZGQ4ZDljZWQxN2U5IiwiZW1haWwiOiJheXVzamFAc2NpZW5jZS5jaHJpc3R1bml2ZXJzaXR5LmluIiwiaWF0IjoxNjM0ODUwMDM0LCJleHAiOjE2MzQ4NTcyMzR9._M9brFFuUuZRmLFFV0myW9WaKrZ4Rhxvspt_pSWaQug",
    "_id": "6171ae646ff08403b37b6ce1"
}

response:
{
    "message": "Item Purchased Successfully."
}
||
{
    "error": "Invalid Shop Item id."
}
||
{
    "error": "Item already purchased"
}
||
